<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Team Analysis</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1 style="text-align:center"><%-team%> stats</h1>
    <div id="teamStats" style="border:15px solid green; padding: 50px;">
        Games played: <%-games%> <br><hr>
        Points scored: <%-points%> <br><hr>
        Field goal percentage: <%-fgp%> <br><hr>
        Assists: <%-assists%> <br><hr>
        Steals: <%-steals%> <br><hr>
        Turnovers: <%-turnovers%> <br><hr>
        Blocks: <%-blocks%> <br><hr>
    </div>
    <br>
    <br>
    <a href="/">HOME</a>
</body>

</html>